<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songheqing.microforum.mapper.ArticlesMapper">

    <!-- 动态插入文章 -->
    <insert id="insert" parameterType="com.songheqing.microforum.pojo.Article">
        INSERT INTO article (
            user_id,
            title,
            channel_id,
            create_time,
            update_time
            <if test="contentPreview != null and contentPreview != ''">
                , content_preview
            </if>
            <if test="image != null and image != ''">
                , image
            </if>
        ) VALUES (
            #{userId},
            #{title},
            #{channelId},
            #{createTime},
            #{updateTime}
            <if test="contentPreview != null and contentPreview != ''">
                , #{contentPreview}
            </if>
            <if test="image != null and image != ''">
                , #{image}
            </if>
        )
    </insert>

</mapper> 