<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songheqing.microforum.mapper.ArticlesMapper">

    <!-- 动态插入文章 -->
    <insert id="insert" parameterType="com.songheqing.microforum.entity.ArticleEntity"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO article (
            user_id,
            channel_id,
            title
            <if test="contentPreview != null and contentPreview != ''">
                , content_preview
            </if>
            <if test="content != null and content != ''">
                , content
            </if>
            <if test="mediaType != null">
                , media_type
            </if>
            <if test="media != null and media != ''">
                , media
            </if>
        ) VALUES (
            #{userId},
            #{channelId},
            #{title}
            <if test="contentPreview != null and contentPreview != ''">
                , #{contentPreview}
            </if>
            <if test="content != null and content != ''">
                , #{content}
            </if>
            <if test="mediaType != null">
                , #{mediaType}
            </if>
            <if test="media != null and media != ''">
                , #{media}
            </if>
        )
    </insert>

    <resultMap id="ArticleCardMap" type="com.songheqing.microforum.vo.ArticleCardVO">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="contentPreview" column="content_preview"/>
        <result property="likeCount" column="like_count"/>
        <result property="commentCount" column="comment_count"/>
        <result property="isLiked" column="is_liked_status"/>
        <result property="createTime" column="create_time"/>
        <result property="mediaType" column="media_type"/>
        <!-- 使用TypeHandler自动转换mediaUrls -->
        <result property="mediaUrls" column="media" 
                typeHandler="com.songheqing.microforum.handler.JsonToListHandler"/>
        <association property="channelCard" javaType="com.songheqing.microforum.vo.ChannelCardVO">
            <result property="id" column="channel_id"/>
            <result property="channelName" column="channelname"/>
            <result property="userCount" column="user_count"/>
            <result property="articleCount" column="article_count"/>
            <result property="image" column="image"/>
        </association>
    </resultMap>

    <!-- 文章列表 -->
    <select id="selectAll" resultMap="ArticleCardMap">
        SELECT a.id,
               a.channel_id,
               a.title,
               a.content_preview,
               a.like_count,
               a.comment_count,
               a.create_time,
               a.media_type,
               a.media,
               c.channelname,
               c.image,
               c.user_count,
               c.article_count
               -- 独立子查询判断点赞状态，当userId为0时（未登录用户）返回null
               <!-- (
                CASE 
                    WHEN #{userId} IS NULL THEN NULL
                    ELSE (SELECT 1
                          FROM article_likes al_sub
                          WHERE al_sub.article_id = a.id
                            AND al_sub.user_id = #{userId})
                END) AS is_liked_status -->
               <if test="userId != null">
                   , al.id as is_liked_status
               </if>
        FROM article a
                 INNER JOIN (SELECT id
                             FROM article
                             ORDER BY create_time DESC
                             LIMIT #{offset}, #{pageSize}) AS page_ids ON a.id = page_ids.id
                 LEFT JOIN channel c ON a.channel_id = c.id
                 <if test="userId != null">
                     LEFT JOIN article_likes al ON a.id = al.article_id AND al.user_id = #{userId}
                 </if>
    </select>

    <!-- 根据频道ID查询文章列表 -->
    <resultMap id="ArticleUserCardMap" type="com.songheqing.microforum.vo.ArticleUserCardVO">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="contentPreview" column="content_preview"/>
        <result property="mediaType" column="media_type"/>
        <result property="likeCount" column="like_count"/>
        <result property="commentCount" column="comment_count"/>
        <result property="lastReplyTime" column="last_reply_time"/>
        <result property="createTime" column="create_time"/>
        <result property="isLiked" column="is_liked_status"/>
        <!-- 使用TypeHandler自动转换mediaUrls -->
        <result property="mediaUrls" column="media" 
                typeHandler="com.songheqing.microforum.handler.JsonToListHandler"/>
        <association property="channel" javaType="com.songheqing.microforum.vo.ChannelSimpleVO">
            <result property="id" column="channel_id"/>
            <result property="channelname" column="channelname"/>
            <result property="imageUrl" column="channel_image"/>
        </association>
        <association property="user" javaType="com.songheqing.microforum.vo.UserSimpleVO">
            <result property="id" column="user_id"/>
            <result property="nickname" column="user_nickname"/>
            <result property="image" column="user_image"/>
        </association>
    </resultMap>

    <!-- 根据频道ID查询文章列表 -->
    <select id="selectByChannelId" resultMap="ArticleUserCardMap">
        SELECT a.id,
               a.title,
               a.content_preview,
               a.like_count,
               a.comment_count,
               a.last_reply_time,
               a.create_time,
               a.media_type,
               a.media,
               c.id as channel_id,
               c.channelname,
               u.id as user_id,
               u.nickname as user_nickname,
               u.image as user_image
               <if test="userId != null">
                   , al.id as is_liked_status
               </if>
        FROM article a
                 INNER JOIN (SELECT id
                             FROM article
                             WHERE channel_id = #{channelId}
                             <choose>
                                <!-- 按回复时间排序 -->
                                 <when test="sort != null and sort == 'create_time'">
                                     ORDER BY create_time DESC
                                 </when>
                                 <otherwise>
                                     ORDER BY last_reply_time DESC
                                 </otherwise>
                             </choose>
                             LIMIT #{offset}, #{pageSize}) AS page_ids ON a.id = page_ids.id
                 LEFT JOIN channel c ON a.channel_id = c.id
                 LEFT JOIN user u ON a.user_id = u.id
                 <if test="userId != null">
                     LEFT JOIN article_likes al ON a.id = al.article_id AND al.user_id = #{userId}
                 </if>
    </select>

    <!-- 文章详情 -->
    <resultMap id="ArticleDetailMap" type="com.songheqing.microforum.vo.ArticleDetailVO">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="mediaType" column="media_type"/>
        <result property="likeCount" column="like_count"/>
        <result property="collectCount" column="collect_count"/>
        <result property="commentCount" column="comment_count"/>
        <result property="viewCount" column="view_count"/>
        <result property="createTime" column="create_time"/>
        <result property="isLiked" column="is_liked_status"/>
        <!-- 使用TypeHandler自动转换mediaUrls -->
        <result property="mediaUrls" column="media" 
                typeHandler="com.songheqing.microforum.handler.JsonToListHandler"/>
        <association property="user" javaType="com.songheqing.microforum.vo.UserSimpleVO">
            <id property="id" column="user_id"/>
            <result property="nickname" column="nickname"/>
            <result property="image" column="image"/>
        </association>
        <association property="channel" javaType="com.songheqing.microforum.vo.ChannelSimpleVO">
            <id property="id" column="channel_id"/>
            <result property="channelname" column="channelname"/>
            <result property="imageUrl" column="channel_image"/>
        </association>
    </resultMap>

    <select id="selectDetailById" resultMap="ArticleDetailMap">
        SELECT
            a.id, a.user_id, a.channel_id, a.title, a.content,
            a.media_type, a.media,
            a.like_count, a.collect_count, a.comment_count, a.view_count,
            a.create_time,
            u.nickname, u.image,
            c.id as channel_id, 
            c.channelname,
            c.image as channel_image
            <if test="userId != null">
                , al.id as is_liked_status
            </if>
        FROM article a
        LEFT JOIN user u 
                ON a.user_id = u.id
        LEFT JOIN channel c
                ON a.channel_id = c.id
                <if test="userId != null">
                    LEFT JOIN article_likes al ON a.id = al.article_id AND al.user_id = #{userId}
                </if>
        WHERE a.id = #{id}
    </select>

    <!-- 根据用户ID查询文章列表 -->
    <select id="selectByUserId" resultMap="ArticleUserCardMap">
        SELECT a.id,
               a.title,
               a.content_preview,
               a.like_count,
               a.comment_count,
               a.create_time,
               a.media_type,
               a.media,
               c.id as channel_id,
               c.channelname,
               u.id as user_id,
               u.nickname as user_nickname,
               u.image as user_image
               <!-- 当currentUserId不为null时，查询是否点赞 -->
               <if test="currentUserId != null">
                   , al.id as is_liked_status
               </if>
        FROM article a
                 INNER JOIN (SELECT id
                             FROM article
                             WHERE user_id = #{userId}
                             ORDER BY create_time DESC
                             LIMIT #{offset}, #{pageSize}) AS page_ids ON a.id = page_ids.id
                 LEFT JOIN channel c ON a.channel_id = c.id
                 LEFT JOIN user u ON a.user_id = u.id
                 <if test="currentUserId != null">
                     LEFT JOIN article_likes al ON a.id = al.article_id AND al.user_id = #{currentUserId}
                 </if>
        ORDER BY a.create_time DESC
    </select>
</mapper>
