<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songheqing.microforum.mapper.ArticlesMapper">

    <!-- 动态插入文章 -->
    <insert id="insert" parameterType="com.songheqing.microforum.entity.ArticleEntity"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO article (
            user_id,
            channel_id,
            title
            <if test="contentPreview != null and contentPreview != ''">
                , content_preview
            </if>
            <if test="content != null and content != ''">
                , content
            </if>
        ) VALUES (
            #{userId},
            #{channelId},
            #{title}
            <if test="contentPreview != null and contentPreview != ''">
                , #{contentPreview}
            </if>
            <if test="content != null and content != ''">
                , #{content}
            </if>
        )
    </insert>

    <resultMap id="ArticleListMap" type="com.songheqing.microforum.vo.ArticleListVO">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="contentPreview" column="content_preview"/>
        <result property="likeCount" column="like_count"/>
        <result property="commentCount" column="comment_count"/>
        <result property="isLiked" column="is_liked_status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <association property="channelCard" javaType="com.songheqing.microforum.vo.ChannelCardVO">
            <result property="id" column="channel_id"/>
            <result property="channelName" column="channelname"/>
            <result property="userCount" column="user_count"/>
            <result property="articleCount" column="article_count"/>
            <result property="image" column="image"/>
        </association>
        <collection property="coverImageUrl" ofType="com.songheqing.microforum.vo.ImageVO">
            <result property="imageUrl" column="image_url"/>
            <result property="orderNum" column="order_num"/>
        </collection>
    </resultMap>

    <!-- 文章列表 -->
    <select id="selectAll" resultMap="ArticleListMap">
        SELECT a.id,
               a.channel_id,
               a.title,
               a.content_preview,
               a.like_count,
               a.comment_count,
               a.create_time,
               a.update_time,
               i.image_url,
               i.order_num,
               c.channelname,
               c.image,
               c.user_count,
               c.article_count,
               -- 独立子查询判断点赞状态
               (
                (SELECT 1
                              FROM article_likes al_sub
                              WHERE al_sub.article_id = a.id
                                AND al_sub.user_id = #{userId})) AS is_liked_status

        FROM article a
                 INNER JOIN (SELECT id
                             FROM article
                             ORDER BY create_time DESC
                             LIMIT #{offset}, #{pageSize}) AS page_ids ON a.id = page_ids.id
                 LEFT JOIN channel c ON a.channel_id = c.id
                 LEFT JOIN images i ON i.entity_type = 'ARTICLE' AND a.id = i.entity_id
        ORDER BY a.create_time DESC, i.order_num ASC
    </select>

    <!-- 文章详情 -->
    <resultMap id="ArticleDetailMap" type="com.songheqing.microforum.vo.ArticleDetailVO">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="coverType" column="cover_type"/>
        <result property="likeCount" column="like_count"/>
        <result property="collectCount" column="collect_count"/>
        <result property="commentCount" column="comment_count"/>
        <result property="viewCount" column="view_count"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <association property="user" javaType="com.songheqing.microforum.vo.UserSimpleVO">
            <id property="id" column="user_id"/>
            <result property="nickname" column="nickname"/>
            <result property="image" column="image"/>
        </association>
        <association property="channel" javaType="com.songheqing.microforum.vo.ChannelSimpleVO">
            <id property="id" column="channel_id"/>
            <result property="channelname" column="channelname"/>
        </association>
        <collection property="coverImageUrl" ofType="com.songheqing.microforum.vo.ImageVO">
            <result property="imageUrl" column="image_url"/>
            <result property="orderNum" column="order_num"/>
        </collection>
    </resultMap>

    <select id="selectDetailById" resultMap="ArticleDetailMap">
        SELECT
            a.id, a.user_id, a.channel_id, a.title, a.content, a.cover_type,
            a.like_count, a.collect_count, a.comment_count, a.view_count,
            a.create_time, a.update_time,
            u.nickname, u.image,
            i.image_url, i.order_num,
            c.id, c.channelname
        FROM article a
        LEFT JOIN user u 
                ON a.user_id = u.id
        LEFT JOIN images i
                ON i.entity_type = 'ARTICLE' AND a.id = i.entity_id
        LEFT JOIN channel c
                ON a.channel_id = c.id
        WHERE a.id = #{id}
        ORDER BY i.order_num ASC
    </select>
</mapper> 