<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.songheqing.microforum.mapper.CommentMapper">
    <!-- 新增评论 -->
    <insert id="insertComment" parameterType="com.songheqing.microforum.entity.CommentEntity">
        INSERT INTO comment (article_id, parent_id, floor, user_id, reply_to_user_id, content)
        VALUES (#{articleId}, #{parentId}, #{floor}, #{userId}, #{replyToUserId}, #{content})
    </insert>


    <resultMap id="CommentMap" type="com.songheqing.microforum.vo.CommentVO">
        <id property="id" column="id"/>
        <result property="content" column="content"/>
        <result property="createTime" column="create_time"/>
        <result property="replyCount" column="reply_count"/>
        <result property="floor" column="floor"/>
        
        <association property="user" javaType="com.songheqing.microforum.vo.UserSimpleVO">
            <id property="id" column="user_id"/>
            <result property="nickname" column="user_nickname"/>
            <result property="image" column="user_image"/>
        </association>
    </resultMap>

    <!-- 查询一级评论 -->
    <select id="selectTopLevelCommentVOs" resultMap="CommentMap">
        SELECT 
        c.id, c.content, c.create_time, c.reply_count, c.floor, 
        u.id AS user_id, u.nickname AS user_nickname, u.image AS user_image
        FROM comment c
        LEFT JOIN user u ON c.user_id = u.id
        WHERE c.article_id = #{articleId} AND c.parent_id IS NULL
        ORDER BY c.create_time ASC
        LIMIT #{limit} OFFSET #{offset}
    </select>


    <resultMap id="CommentReplyMap" type="com.songheqing.microforum.vo.CommentReplyVO">
        <id property="id" column="id"/>
        <result property="content" column="content"/>
        <result property="createTime" column="create_time"/>

        <association property="user" javaType="com.songheqing.microforum.vo.UserSimpleVO">
            <id property="id" column="user_id"/>
            <result property="nickname" column="user_nickname"/>
            <result property="image" column="user_image"/>
        </association>

        <association property="replyToUser" javaType="com.songheqing.microforum.vo.UserSimpleVO">
            <id property="id" column="reply_user_id"/>
            <result property="nickname" column="reply_user_nickname"/>
        </association>
    </resultMap>


    <!-- 查询某条评论的所有子评论分页 -->
    <select id="selectCommentReplyVOs" resultMap="CommentReplyMap">
        SELECT 
        c.id, c.content, c.create_time, 
        u.id AS user_id, u.nickname AS user_nickname, u.image AS user_image,
        r.id AS reply_user_id, r.nickname AS reply_user_nickname
        FROM comment c
        LEFT JOIN user u ON c.user_id = u.id
        LEFT JOIN user r ON c.reply_to_user_id = r.id
        WHERE c.parent_id = #{parentId}
        ORDER BY c.create_time ASC
        LIMIT #{limit} OFFSET #{offset}
    </select>
</mapper> 